@import "variables";
@import "mixins";
@import "home";
@import "header";

@media only screen and (max-width: 1200px) {
    .navbar-expand-lg {
        flex-wrap: wrap !important;
    }
    nav {
        .collapse{
            .navbar {
                .dropdown {
                    .dropdown-content {
                        top: 282% !important;
                    }
                }
            }
            .cart-dropdown {
                .dropdown-content {
                    top: 140% !important;
                }
            }
        }
    }
    header {
        display: none;
    }
    #first-s {
        .shop-by-c {
            display: none;
        }
        .col-lg-8  {
            .latest-p{
                @include karusel (24rem !important, 5%);
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    nav {
        .collapse {
            .navbar {
                .dropdown {
                    .dropdown-content {
                        top: 499% !important;
                    }
                }
            }

            form {
                display: inline-block !important;
            }
            .cart-dropdown {
                display: inline !important;
                .dropdown-content {
                    top: 295% !important;
                }
            }
        }
    }
    #first-s {
        .row {
            .col-lg-8 {
                .latest-p {
                    @include karusel (43rem !important, 5%);
                }
            }
        }
    }
    #top-categories {
        .row {
            .col-12 {
                .tab-content {
                    @include karusel (92rem !important, 4%);
                }
            }
        }
    }
    #feature-products {
        @include karusel (93rem !important, 4%);
    }
    #testimonial {
        @include karusel (43rem !important, 4%);
    }
}

@media only screen and (max-width: 767px) {
    nav {
        .collapse{
            .navbar {
                .dropdown {
                    .dropdown-content {
                        top: 485% !important;
                        .row {
                            display: inline-block !important;
                        }
                    }
                }
            }
            .cart-dropdown {
                .dropdown-content {
                    top: 298% !important;
                }
            }
        }
    }
    #top-categories {
        .row {
            .col-12 {
                .tab-content {
                    @include karusel (236rem !important, 6% !important);
                }
            }
        }
    }
    #first-s {
        .row {
            .col-lg-8 {
                .latest-p {
                    @include karusel (20rem, 5%);
                }
            }
        }
    }
    #feature-products {
        @include karusel (235rem !important, 6% !important);
    }
    #testimonial {
        @include karusel (84rem !important, 6% !important);
    }
    footer {
        .vr {
            display: none;
        }
    }
}

@media only screen and (max-width: 465px) {
    nav {
        .container {
            .collapse{
                .ms-3 {
                    margin-left: 0px !important;
                }
                .navbar>* {
                    padding-left: 0px !important;
                    .dropdown-content {
                         top: 476% !important;
                         left: -30% !important;
                    }
                }
            }
        }
    }
    #first-s {
        #carouselExampleControls {
            button {
                .next-btn {
                    left: -420% !important;
                }
            }
        }
    }
    #first-s {
        .latest-p {
           [data-carousel] {
               button {
                   top: -46px !important;
               }    
           }
        }
    }
    #top-categories {
        .row {
            .col-12 {
                .tab-content {
                    @include karusel (200rem !important, 6% !important);
                }
            }
        }
    }
    #feature-products {
        @include karusel (200rem !important, 4%);
    }
}

@media only screen and (max-width: 452px) {
    nav {
        .collapse   {
            .navbar {
                display: block !important;
                &>*{
                    display: block !important;
                    padding: 10px;
                }
                .dropdown {
                    .dropbtn {
                        padding-left: 0px !important;
                    }
                    .dropdown-content {
                        top: 100% !important;
                        left: 0% !important;
                    }
                }
            }

            .cart-dropdown {
                .dropdown-content {
                    top: 310% !important;
                    left: -195% !important;
                }
            }

            form {
                padding: 10px;
                select {
                    display: none;
                }
                span {
                    display: none !important;
                }
            }
        }
    }
}